<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">

      <%= render @blogs %>
      
      <nav class="blog-pagination">
        <!-- TODO: Need to add navigation -->
      </nav>

    </div>

  <%= render "shared/blog_sidebar" %>
  </div>
</main>
