<header class="blog-header py-3">
  <div class="align-items-center">
    <p class="blog-header-title"><%= @title_on_header %></p>
  </div>

  <% if user_signed_in? %>
    <%= link_to 'New Blog', new_blog_path %>
  <% end %>
</header>
