<header class="nav-attribute">
  <div class="masthead-brand">
    <%= link_to 'Lam Doan', root_path, class: "nav-link" %>
  </div>

  <nav class="nav justify-content-center">
    <%= render "shared/nav_links" %>
  </nav>
</header>
