<header class="nav-attribute">
  <span class="masthead-brand">
    <%= link_to 'Lam Doan', root_path, class: "nav-link" %>
  </span>

  <nav class="nav justify-content-center">
    <%= render "shared/nav_links" %>
  </nav>
</header>
