<div class="p-4">
  <h4>Topics</h4>
  <% unless @topics_on_sidebar.blank? %>
    <% @topics_on_sidebar.each do |topic| %>
      <%= link_to topic.title, topic_path(topic), class: "nav-link" %>
    <% end %>
  <% end %>
</div>
