<footer class="mastfoot mt-auto">
  <div>
    <span class="footer-quote">"I have no special talent, I am only passionately curious."</span>
    <span class="footer-author">– Albert Einstein</span>
  </div>
</footer>