<header class="masthead mb-auto">
  <nav class="nav nav-masthead justify-content-center">
    <a class="nav-link" href="home">Home</a>
    <a class="nav-link" href="about">About</a>
    <a class="nav-link" href="resume">Resume</a>
    <a class="nav-link" href="blogs">Blogs</a>
  </nav>
  
  <div class="inner">
    <h3 class="masthead-brand">Lam Doan</h3>
  </div>
</header>
