<div class="central">

<div class="info-box">
    <p class="name">Janki & Lam</p>
    <p class="text italic">November 27, 2020</p>
  </div>
  
  <div class="image">
    <img src="https://lamvdoan.s3.us-east-2.amazonaws.com/wedding/engagement.png" width="755" height="527">
  </div>

  <div class="info-box">
  </div>

  <div class="info-box">
    <p class="title">Ceremony</p>
    <p class="text">Janki's Parents' House, Naperville, IL</p>
    <p class="text">Friday, November 27, 2020<br>3:00 PM CDT</p>
    <p class="text">Zoom Link to Live Ceremony (available prior to ceremony)<br>
      <a href="https://google.com">Watch us get married!</a>
    </p>
  </div>
  
  <div class="info-box">
    <p class="title">Gifts</p>
    <p class="quote">No gifts necessary</p>
  </div>

</div>


