<div class="central">

<div class="info-box">
    <p class="name">Janki & Lam</p>
  </div>
  
  <div class="image">
    <img src="https://lamvdoan.s3.us-east-2.amazonaws.com/wedding/engagement.png" width="755" height="527">
  </div>

  <div class="info-box">
  </div>

  <div class="info-box">
    <p class="title">Wedding Ceremony</p>
    <p class="text">Due to the latest quarantine restriction, the wedding ceremony is cancelled.  </p>
  </div>
  
  <div class="info-box">
    <p class="title">Gifts</p>
    <p class="quote">No gifts necessary.  Your blessings are much appreciated.</p>
  </div>

</div>


