<p>
My engineering career initially began as a QA.  As my first two jobs out of college, I learned how to interact with different roles, understood software and it's lifecycle, and of course, testing.  My career kickstarted at Grubhub, where I became more familiar with different technologies and soon learned how to code professionally in the Test Automation world.  After leaving Grubhub, I decided to join Outcome Health.  From there, I became more serious with coding, building a test framework from ground up and working an Android app on the side.  My last project was the most complex piece of software I've ever built, Analytics Validation Services (AVS).  
</p>

<p>
The more I learned, the more obsessed I became.  I made a tough decision to quit my job and study coding full time.  My first project included Javascript, React, HTML/CSS/SCSS.  After that, I moved on to Ruby/Rails and started working on a profile website, which is this.  The most valuable lesson I've acquired as an engineer is that, learning never stops.  
</p>