<main role="main" class="inner cover">
  <div class="row content-section">
    <div class="col-md-5">
      <%= image_tag "LamDoan.jpg", width: 300 %>
    </div>
    <div class="col-md-7">
      <h2>It started with a spark</h2>
      <div class="paragraph">
        My engineering career began as a QA.  I learned how to interact with different roles, understood the software lifecycle, and of course, testing.  The spark started at Grubhub, when the engineering leadership created a 1 week accelerated Java class for the QA team.  After completing the course, I started coding automated tests for back-end and front-end applications.
      </div>
    </div>
  </div>

  <div class="row content-section">
    <div class="col-md-7">
      <h2>Rolling into the deep</h2>
      <div class="paragraph">
        On September 2016, I decided to join Outcome Health.  I became more curious with coding, building a test framework from scratch, working with data analytics, and learning how to build an Android app on the side.  My last project there was the most complex piece of software I've ever built, the Analytics Validation Service (AVS).  
      </div>
    </div>

    <div class="col-md-1"></div>
    <div class="col-md-4">
      <%= image_tag "LamOutcome.jpg", width: 300 %>
    </div>
  </div>

    <div class="row content-section">
      <div class="col-md-5">
        <%= image_tag "LamTemple.jpg", width: 300 %>
      </div>
      <div class="col-md-7">
        <h2>Doing what I love</h2>
        <div class="paragraph">
          The more I learned over time, the more obsessed I became.  On November of 2018, I quit my job to study and code full time.  My first project included Javascript, React, HTML/CSS.  After that, I moved on to Ruby/Rails and started working on a profile website (this).  The most valuable lesson I've acquired as an engineer is that, learning never stops.  
        </div>
      </div>
  </div>
</main>
