<%= render "shared/video_play" %>

<main role="main" class="inner cover text-center">
  <h1 class="cover-heading">Hi, I'm Lam.</h1>
  <p class="lead">
    I have a girlfriend named Jackie and a dog named Dolce.  I love boardgames, karaoke, and technology.  I enjoy travelling the world and meeting people.  
  </p>
  <p class="lead">
    <a href="about" class="btn btn-lg btn-secondary">About Lam</a>
  </p>
</main>

