<%= render "shared/video_play" %>

<main role="main" class="inner cover text-center">
  <h1 class="cover-heading">Hi, I'm Lam.</h1>
  <p class="lead home-summary">
    I have a decade of QA/Automation experience and majored in Computer Engineering at UIC.  I am switching my career to a <b>Software Engineer</b>.

    <br><br>

    Some of my interests include board games, karaoke, technology, house project, snowboarding, biking, basketball, weight lifting, health/nutrition, salsa, and now, building apps. I enjoy exploring the world and meeting people.  

    <br><br>

    My girlfriend Jackie and our dog Dolce are awesome. 
  </p>
</main>
