<%= render "shared/video_play" %>

<main role="main" class="inner cover text-center">
  <h1 class="cover-heading">Hi, I'm Lam.</h1>
  <p class="lead home-summary">
    I have over a decade of experience in the technology industry as QA and Automation.  I have a background in Computer Engineering at UIC.  I am now switching my career in pursuit of a <b>Software Engineer</b>.

    <br><br>

    My girlfriend Jackie and our dog Dolce is awesome. Some of my interests include board games, karaoke, technology, snowboarding, biking, basketball, weight lifting, and health/nutrition. I enjoy exploring the world and meeting people.
  </p>
</main>
