<%= render "shared/video_play" %>

<main role="main" class="inner cover text-center">
  <h1 class="cover-heading">Hi, I'm Lam.</h1>
  <p class="lead home-summary">
    I have a girlfriend named Jackie and a dog named Dolce.  I love boardgames, karaoke, and technology.  I enjoy exploring the world and meeting people.
  </p>
  <div>
    <br><br>
    <%= image_tag "under_construction.png", width: 100 %>
    <h1 style="color:yellow;">Site under construction!</h1>
  </div>
</main>
