@import "bootstrap";

@font-face {
   font-family: 'Open Sans';
   src: font-url("OpenSans-Regular.ttf");
}

body {
  background-color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Arial";
}

p {
  font-family: "Open Sans";
}


/*
 * Blog header
 */
.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
  margin: 1rem 0 1rem 0;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

.blog-header-title {
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 4rem;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.h-250 { 
  height: 250px; 
}


/*
 * Blog name and description
 */
.blog-title {
  margin-bottom: 0;
  font-size: 3.5rem;  
  font-weight: 400;
}

.blog-description {
  font-size: 1.1rem;
  color: #999;
}

.blog-body {
  font-size: 1.1rem;
}

.blog-admin {
  margin-bottom: 2rem;
}


/* Pagination */
.blog-pagination {
  margin-bottom: 1rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}


/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}


/*
 * Footer
 */
.blog-footer {
  padding: 1.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
  width: 100%;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}


/*
 * Main
 */
.main {
  margin-bottom: 3rem;
}


/*
 * Sidebar
 */
.blog-sidebar {
  margin-bottom: 3rem;
}

.p-4-custom {
  padding: 1.5rem;
}


/*
 * Nav Bar
 */
.nav-attribute {
  padding: 1.4rem 6.6rem 0.8rem 6.6rem;
  background-color: #f7f7f7;
  position: relative;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.nav-attribute .nav-link {
  padding: .25rem 0;
  margin: 0 0.5rem 0 0.5rem;
  font-weight: 700;
  color: rgba(0,0,0,0.5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.masthead-brand .nav-link {
  font-size: 1.75rem;
  color: black;
  font-weight: 500;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.masthead-brand {
  float: left;
}

.nav-masthead {
  float: right;
}


/*
 * Edit
 */
.edit-blog {
  margin-left: 1rem;
}


/*
 * Mobile Common
 */
@media (max-device-width: 812px) {
  .main {
    img {
      width: auto;
      height: auto;
    }
  }

  .p-4-custom {
    padding: 0;
  }

  .nav-attribute {
    padding: 1rem 0 1rem 0;
  }

  .masthead-brand {
    width: 100%;
    text-align: center;
  }

  .justify-content-center { 
    width: 100%;
  }

  .blog-header-title {
    margin-bottom: 1rem;
    font-size: 2rem;
  }

  .blog-title {
    font-size: 2rem;
  }
}


/*
 * Mobile Display: iPhone 6/7/8
 */
@media only screen 
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .main {
    img {
      max-width: 346px;
    }
  }
}


/*
 * Mobile Display: iPhoneX
 */
@media only screen 
  and (device-width: 375px)
  and (device-height: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {
 
  .main {
    img {
      max-width: 345px;
    }
  }

  .blog-footer {
    margin-bottom: 7rem;
  }
}



/*
 * Mobile Display: iPhone Plus;
 */
@media only screen 
  and (device-width: 414px)
  and (device-height: 736px) {
  
  .main {
    img {
      max-width: 385px;
    }
  }

  .blog-footer {
    margin-bottom: 2rem;
  }
}

/*
 * Mobile Display: Pixel
 */
@media only screen 
  and (device-width: 411px)
  and (device-height: 731px) {
  
  .main {
    img {
      max-width: 382px;
    }
  }

  .blog-footer {
    margin-bottom: 2rem;
  }
}


/*
 * Mobile Display: Pixel XL
 */
@media only screen 
  and (device-width: 411px)
  and (device-height: 823px) {
  
  .main {
    img {
      max-width: 382px;
    }
  }

  .blog-footer {
    margin-bottom: 8rem;
  }
}


/*
 * Mobile Display: Sumsung Galaxy S8+ and Note 8+
 */
@media only screen 
  and (device-width: 360px)
  and (device-height: 740px) {
  
  .main {
    img {
      max-width: 332px;
    }
  }

  .blog-footer {
    margin-bottom: 2rem;
  }
}


/*
 * Mobile Display: iPad
 */
@media only screen 
  and (device-width: 768px)
  and (device-height: 1024px) {

  .main {
    img {
      max-width: 512px;
    }
  }
}
